    {% extends 'base.html.twig' %}

    {% block title %}O'Rizon - Votre aventure commence ici{% endblock %}

    {% block body %}

        <main class="min-h-screen bg-gradient-to-r from-green-400 to-blue-500">
            {% if app.user %}
            <div class="fixed top-16 right-16 bg-gradient-to-r from-green-400 to-blue-600 text-white p-4 rounded-lg shadow-lg" x-data="welcomeMessage()" x-show="show" x-init="init()" x-transition:enter="ease-out duration-300" x-transition:enter-start="opacity-0 scale-90" x-transition:enter-end="opacity-100 scale-100" x-transition:leave="ease-in duration-300" x-transition:leave-start="opacity-100 scale-100" x-transition:leave-end="opacity-0 scale-90" style="backdrop-filter: blur(10px); -webkit-backdrop-filter: blur(10px);">
                Bienvenue, {{ app.user.username }} !
            </div>
            {% endif %}

            <section class="text-white body-font">
                <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
                    <img class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded" alt="hero" src="{{ asset('images/ORizon2.png') }}">
                    <div class="text-center lg:w-2/3 w-full">
                        <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-white">Explorez le monde avec O'Rizon</h1>
                        <p class="mb-8 leading-relaxed">Rejoignez notre communauté de voyageurs passionnés et découvrez des destinations inoubliables. Ensemble, rendons chaque voyage unique.</p>
                        {% if not app.user %}
                            <div class="flex justify-center">
                                <a href="{{ path('app_register') }}" class="inline-flex text-white bg-green-500 border-0 py-2 px-6 focus:outline-none hover:bg-green-600 rounded text-lg">S'inscrire Maintenant</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </section>

            <section class="text-gray-600 body-font">
                <div class="container px-5 py-24 mx-auto">
                    <div class="flex flex-wrap -m-4">
                        <div class="p-4 md:w-1/3">
                            <div class="flex rounded-lg h-full bg-white bg-opacity-80 backdrop-filter backdrop-blur-sm p-8 flex-col shadow-lg">
                                <h2 class="text-gray-900 text-lg font-medium title-font mb-3">Qui sommes-nous ?</h2>
                                <p class="leading-relaxed mb-5 text-gray-600">Une équipe dédiée à transformer chaque voyage en une expérience mémorable grâce à notre plateforme innovante.</p>
                            </div>
                        </div>
                        <div class="p-4 md:w-1/3">
                            <div class="flex rounded-lg h-full bg-white bg-opacity-80 backdrop-filter backdrop-blur-sm p-8 flex-col shadow-lg">
                                <h2 class="text-gray-900 text-lg font-medium title-font mb-3">Pourquoi nous rejoindre ?</h2>
                                <p class="leading-relaxed mb-5 text-gray-600">Accédez à des outils uniques pour planifier, personnaliser et partager vos aventures, tout en rejoignant une communauté de voyageurs comme vous.</p>
                            </div>
                        </div>
                        <div class="p-4 md:w-1/3">
                            <div class="flex rounded-lg h-full bg-white bg-opacity-80 backdrop-filter backdrop-blur-sm p-8 flex-col shadow-lg">
                                <h2 class="text-gray-900 text-lg font-medium title-font mb-3">Votre voyage commence ici</h2>
                                <p class="leading-relaxed mb-5 text-gray-600">Laissez-vous inspirer par des itinéraires uniques et des histoires de voyage passionnantes. Votre prochaine aventure vous attend.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>

    {% endblock %}

    {% block javascripts %}
        <script src="{{ asset('js/welcomeMessage.js') }}"></script>
    {% endblock %}

